body.q-theme-tokens-dark input.link-preview-standard-input {
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 1px 5px;
}

body.q-theme-tokens-light input.link-preview-standard-input {
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1px 5px;
}